html,
body{
  height: 100%;
}


body{
  color: $default;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}


a{
  @extend %Rubik-400;
  font-size: 14px;
  color: #7b7b7b;
}


.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}


.breadcrumbs{
  display: flex;
  justify-content: center;
  &__list{
    display: flex;
  }
  &__item{
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #83898f;
    padding-right: 20px;
    position: relative;
    &::after{
      content: '/';
      position: absolute;
      right: 8px;
    }
    &:last-child{
      padding-right: 0;
      &::after{
        display: none;
      }
    }
  }
  &__link{
    color: inherit;
  }
}


