@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  &__inner{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    
  }
  &__wrapper{
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 35px;
  }
  &__list-link{
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    @extend %DMSans-700;
  }
}

.user-nav{
  display: flex;
  align-items: center;
  &__link{
    position: relative;
  }
  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 10px;
    color: #243f4d;
    text-align: center;
    line-height: 16px;
    @extend %DMSans-400;

  }
  &__num--first{
    top: -9px;
    right: -10px;
  }
  &__num--second{
    top: -9px;
    right: -10px;
  }
  &__inner{
    display: flex;
    padding: 23px 72px 12px;
    border-radius: 25px;
    background-color: #fcd7b6;
    margin: 0 20px 0 40px;
  
  }
  &__link--translate-heart{
    transform: translate(-28px, -4px);
    position: relative;
  } 

  &__link--translate-heart:after{
    position: absolute;
    content: '';
    background-image: url("../images/line.svg");
    width: 1px;
    height: 32px;
    top: -8px;
    right: -30px;
  }
  &__link--translate-basket{
    transform: translate(28px, -4px);
  } 
}

 .top{
   padding: 50px 0 150px;
   &__inner{
     text-align: center;
   }
   &__title{
     font-size: 36px;
     line-height: 24px;
     color: #222933;
     @extend %Rubik-400;
     padding-bottom: 12px;
   }

 }



.top-slider{
  background-image: url('../images/slider/background-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 225px 300px 60px;
  &__title{
    max-width: 500px;
    @extend %Rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    margin-bottom: 40px;
  }
  &__item{
    display: flex !important;
    justify-content: space-between;
  }
  &__text{
    max-width: 370px;
    color: #436372;
    @extend %Rubik-400;
    font-size: 18px;
    margin-bottom: 40px;
  }
  &__link{
    border: none;
    background-color: #a3bbc8;
    padding: 23px 100px 21px 28px;
    color: #e6edf0;
    font-size: 15px;
    line-height: 12px;
    @extend %Rubik-500;
    cursor: pointer;
    position: relative;
    display: inline-block;
    
  }
  &__link::after{
    position: absolute;
    content: "";
    background-image: url('../images/arrow.svg');
    width: 22px;
    height: 9px;
    bottom: 40%;
    right: 18px;
  }
  &__img{
    padding-top: 50px;
    
   
  }
  .slick-dots{
    margin-top: 205px;
    display: flex;
    justify-content: center;
    li{
      margin-right: 12px;
      button{
        font-size: 10px;
        padding: 0;
        background-color: #fde3cc;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        
        color: #667983;
        @extend %Rubik-500;
      }
      &.slick-active{
        button{
          background-color: #ffffff;
          color: #243f4d;
        }
      }
    }
  }
}

.products-info{
  padding: 0 0 15px;
}

.info{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  padding-bottom: 120px;
  &__item{
    display: flex;
    max-width: 640px;
    position: relative;
    justify-content: center;
    padding: 49px 0px;
  }
  &__item:nth-child(2) {
    
    border-right: 1px solid #e8e4df;
    border-left: 1px solid #e8e4df;
  }
  &__item-img{
    margin-right: 20px;
    padding-top: 14px;
  }
  &__item-title{
    font-size: 18px;
    line-height: 40px;
    @extend %DMSans-700;
    color: #414141;
  }
  &__item-text{
    font-size: 16px;
    line-height: 30px;
    @extend %DMSans-400;
    color: #585858;
    max-width: 213px;
  }
}

.products{
  
  &__top{
    padding-bottom: 110px;
  }
  &__filter-btn{
    max-width: 380px;
    margin: 0 auto;
  }
  &__btn-fil{
    border: none;
    font-size: 16px;
    color: #8b8b8b;
    padding: 0;
    @extend %DMSans-700;
    cursor: pointer;
  }
  &__btn-fil + &__btn-fil{
    margin-left: 23px;
  }
  &__content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  &__item{
    width: 270px;
    margin-bottom: 110px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
  }
  &__item:hover{
    .products-item__link-box{
      transform: translateY(0);
    }
  }
  &-item__img-box{
    position: relative;
    overflow: hidden;
  }
  &-item__link-box{
    position: absolute;
    padding-bottom: 13px;
    display: flex;
    bottom: 43px;
    right: 0;
    left: 0;
    justify-content: center;
    transform: translateY(300%);
    transition: all .5s;
  }
  &__title{
    font-size: 16px;
    line-height: 40px;
    color: #243f4d;
    @extend %DMSans-500;
    text-align: center;
    
  }
  &-item__images { 
    margin: 0 auto;
    padding-bottom: 45px;
  }
  &__price{
    font-size: 16px;
    line-height: 40px;
    color: #a3bbc8;
    @extend %DMSans-700;
    text-align: center;
  }
  
}



.products__item-link{
  display: block;
  background-color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  path{
    transition: all .3s;
  }
}


.products__item-link:hover{
  path{
    fill: #fff;
  }
  background-color: #a3bbc8;
}

.products__item-link + .products__item-link{
  margin-left: 20px;
}

.mixitup-control-active{
  color: #191919;
}



.title{
  text-align: center;
  @extend %DMSans-700;
  font-size: 36px;
  color: #191919;
  padding-bottom: 25px;
}



.ware{
  padding-top: 105px;
  padding-bottom: 100px;
  &-items{
    display: flex;
    justify-content: space-between;
  }
  &-item__title{
    padding-top: 100px;
  }
  &-item{
    background-color: #feefe2;
    max-width: 870px;
    max-height: 380px;
    width: 100%;
    display: flex;
    
    justify-content: center;
    padding-bottom: 85px;;
  }
  &-item__title{
    font-size: 26px;
    line-height: 32px;
    color: #243f4d;
    @extend %DMSans-700;
    margin-bottom: 15px;
  }
  &-item__text{
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    @extend %Rubik-400;
    max-width: 335px;
    margin-bottom: 30px;
  }
  &-item__img{
    margin-top: -100px;
    margin-right: 18px;
    
  }
  &-item__link{
    border: 1px solid #b3b7b5;
    border-radius: 5%;
    padding: 20px 85px 20px 20px;
    color: #436372;
    font-size: 15px;
    line-height: 12px;
    @extend %Rubik-500;
    position: relative;
  }
  &-item__link:after{
    content: '';
    position: absolute;
    bottom: 41%;
    right: 19px;
    background-image: url('../images/arrow2.svg');
    width: 22px;
    height: 9px;
  }
}

 .newdesign__content{
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 60px;
  }
  .newdesign-box{
    top: 0;
    position: absolute;
  }

  .newdesign-item__img-box{
    height: 246px;
    
    position: relative;
    overflow: hidden;
  }

  .newdesign__title{
    font-size: 20px;
    @extend %DMSans-700;
    color: #191919;
    max-width: 171px;
    margin-top: 30px;
    
  }

  .newdesign-item{
    max-width: 370px;
    width: 100%;
  }

  .newdesign__price{
    font-size: 16px;
    @extend %DMSans-700;
    color: #a3bbc8;
    
  }

  .newdesign-box__img{
    margin-top: 10px;
  }

  .newdesign-box__img-chair{
    margin-left: 200px;
    margin-top: 58px;
  }



  .video-decor{
  padding: 15px 0 120px;
  &__popup{
    background-image: url('../images/popup-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1920px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.articles{

  &-top__title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &-top__link{
    font-size: 16px;
    @extend %DMSans-700;
    color: #262626;
    padding-right: 20px;
    position: relative;
  }
  &-top__link:after{
    content: '';
    position: absolute;
    background-image: url('../images/icons/minarrow.svg');
    width: 6px;
    height: 11px;
    right: 0;
    bottom: 63%;
  }
  &-top__cards{
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
    
  }
  &-top__card{
    position: relative;
  }
  &-top__card--news::before{
    content: 'news';
    padding: 8px 35px;
    color: #fff;
    background-color: #a3bbc8;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 50px;
    @extend %DMSans-700;
    position: absolute;
    bottom: 38%;
    left: 26px;
  }
  &-top__img{
    width: 370px;
    height: 250px;
    margin-bottom: 36px;
  }
  &-top__text{
    max-width: 300px;
    margin: 0 auto 30px;
    @extend %DMSans-500;
    color: #262626;
    font-size: 18px;
  }
  &-top__date{
    padding-left: 31px;
    margin-right: 20px;
     @extend %Rubik-400;
    color: #222933;
    font-size: 12px;
    line-height: 30px;
  }
  &-top__info{
    display: flex;
  }
  &-top__author{
     @extend %Rubik-400;
    color: #222933;
    font-size: 12px;
    line-height: 30px;
  }
  
}

.partner{
   padding-bottom: 85px;
   &-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
   }
}




.footer-top{
  display: flex;
  justify-content: space-between;
  padding: 85px 0 70px;
  border-bottom: 1px solid #dae4e9;
  &__contact{
    width: 200px;
    margin-right: 100px;
  }
  &__nav{
    width: 125px;
    margin-right: 170px;
  }
  &__item-form{
    max-width: 270px;
  }
  &__item{
    line-height: normal;
    margin-bottom: 12px;
  }
  &__logo{
    margin-bottom: 25px;
    display: block;
  }
  &__adress{
    line-height: 24px;
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
    @extend %Rubik-400;
    color: #7b7b7b;
    
  }
  &__phone,
  &__email,
  &__form{
    line-height: 32px;
    font-size: 14px;
    @extend %Rubik-400;
    color: #7b7b7b;
  }

  &__title{
    margin-bottom: 15px;
    margin-top: 15px;
    @extend %DMSans-700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #1f2044;
    
  }
  &__text{
    line-height: 24px;
    font-size: 14px;
    @extend %Rubik-400;
    color: #7b7b7b;
    margin-bottom: 40px;
  }
  &__form-input{
    background-color: #fef7f0;
    max-width: 165px;
    width: 100%;
    height: 37px;
    border: none;
    padding: 10px 15px;
    &::placeholder{
      color: #234969;
      @extend %DMSans-700;
      font-size: 12px;
    }
  }

  &__form-btn{
    border: none;
    background-color: #a3bbc8;
    padding: 8px 20px 8px 16px;
    color: #e6edf0;
    font-size: 14px;
    line-height: 21px;
    @extend %DMSans-400;
    cursor: pointer
  }
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  padding: 38px 0;
  &__copy{
    font-size: 14px;
    line-height: 16px;
    @extend %Rubik-400;
    color:#7b7b7b;
  }
  &__menu-list{
    display: flex;
    line-height: 16px;
  }
}
.footer-menu__list-item + .footer-menu__list-item{
  margin-left: 15px;
  border-left: 1px solid #7b7b7b;
  padding-left: 15px;
}


.modal{
  max-width: 500px;
  margin: 0 auto 195px;
  &__label{
    margin-bottom: 25px;
    @extend %Rubik-400;
    font-size: 14px;
    color: #436372;
    display: block;
  }
  &__input{
    display: block;
    width: 100%;
    border: none;
    margin-top: 4px;
    height: 60px;
    padding: 0 15px;
  }
  &__error{
    @extend %Rubik-400;
    font-size: 14px;
    color: #436372;
  }
  &__problem{
    @extend %Rubik-400;
    font-size: 14px;
    color: #436372;
  }
  &__btn{
    display: block;
    background-color: #a3bbc8;
    border: none;
    @extend %Rubik-500;
    font-size: 18px;
    color: #fffefe;
    padding: 23px 210px;
    cursor: pointer;
  }
  &__box{
    display: flex;
    justify-content: space-between;
    padding: 35px 0 65px;
  }
  &__account{
    display: block;
    background-color: #fff;
    border: 2px solid #a3bbc8;
    padding: 20px 153px;
    @extend %Rubik-500;
    font-size: 18px;
    color: #243f4d;
    cursor: pointer;
  }
  &__inner{
    text-align: center;
    padding-bottom: 25px;
  }
}

.information{
  padding-bottom: 45px;
  &-box{
    margin-bottom: 70px;
  }
  &__item{
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-bottom: 20px;
    list-style: decimal-leading-zero;
    padding-left: 5px;
    
  }
  &__title{
    @extend %Rubik-500;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 20px;
    color: #243f4d;
  }
  &__text{
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
  }
  &-box &__list{
  padding-left: 30px;
  }
}

.mission{
  padding-bottom: 120px;
  &-inner{
    display: flex;
    justify-content: space-between;
  }
  &__box{
    max-width: 572px;
    width: 100%;
    padding: 80px 10px 95px 10px;
  }
  &__img{
    background-image: url('../images/mission-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 570px;
    height: 676px;
  }
  &-number-list-box{
    display: flex;
    align-items: flex-end;
    height: 100px;
    margin-bottom: 44px;
  }
  &__number{
   @extend %DMSans-700;
    font-size: 140px;
    line-height: 32px;
    color: #a3bbc8;
    margin-right: 30px;
    margin-bottom: 32px;
    
  }
  &__list-item{
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
  }
  &__text{
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-bottom: 95px;
  }
  &__box-item{
    @extend %DMSans-700;
    font-size: 36px;
    line-height: 38px;
    color: #243f4d;
  }
  &__box-title{
    @extend %DMSans-700;
    font-size: 16px;
    line-height: 17px;
    color: #4c4c4c;
    padding-left: 5px;
  }
  &__box-inner{
    display: flex;
    justify-content: space-around;
  }
  &__box-num{
    padding-left: 5px;
    margin-bottom: 10px;
  }

  &__box-item{
    position: relative;
  }
  &__box-inner--projects::before{
    position: absolute;
    content: '';
    left: -50px;
    top: 8px;
    background-image: url('../images/icons/projects.svg');
    width: 36px;
    height: 37px;
  }
  &__box-inner--revenue::before{
    position: absolute;
    content: '';
    left: -59px;
    top: 5px;
    background-image: url('../images/icons/revenue.svg');
    width: 43px;
    height: 39px;
  }
  &__box-inner--awards::before{
    position: absolute;
    content: '';
    left: -50px;
    top: 7px;
    background-image: url('../images/icons/awards.svg');
    width: 42px;
    height: 40px;
  }
  &__box-inner--awards{
    margin-right: -10px;
  }
}

.achievements{
  width: 100%;
  background-color: #fcd7b6;
  margin-bottom: 120px;
  &__inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 84px 10px 70px;
  }
  &__percent{
    font-size: 36px;
    line-height: 32px;
    @extend %DMSans-700;
    color: #243f4d;
    margin-bottom: 18px;
  }
  &__text{
    font-size: 18px;
    line-height: 32px;
    @extend %DMSans-700;
    color: #243f4d;
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  &__img{
    margin-bottom: 20px;
  }

}

  .team{
    padding-bottom: 180px;
    &__inner{
      display: flex;
      justify-content: space-between;
    }
    &__inner-info{
      max-width: 300px;
      width: 100%;
    }
    &__text{
      font-size: 16px;
      line-height: 30px;
      color: #243f4d;
      @extend %Rubik-400;
      margin-bottom: 40px;
    }
    &__join{
      padding: 20px 67px 20px 25px;
      color: #ffffff;
      background-color: #a3bbc8;
      border: none;
      border-radius: 5px;
      @extend %DMSans-700;
      font-size: 15px;
      line-height: 55px;
      position: relative;

    }
    &__join::after{
      content: '';
      position: absolute;
      top: 40%;
      right: 26px;
      width: 15px;
      height: 11px;
      background-image: url('../images/team/arrow.svg')
    }
    &__inner-box{
      max-width: 770px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-row-gap: 102px;
      grid-column-gap: 30px;
    }
    &__card{
      position: relative;
    }
    &__card-bottom{
      position: absolute;
      background-color: #fff;
      bottom: -60px;
      max-width: 327px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 24px 0 25px 25px;
      max-height: 110px;
    }
    &__item-name{
      @extend %DMSans-700;
      font-size: 22px;
      line-height: 26px;
      color: #436372;
      margin-bottom: 5px;
    }
    &__item-text{
      @extend %Rubik-400;
      font-size: 16px;
      line-height: 30px;
      color: #565872;
    }
    &__item-social{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      max-width: 125px;
      width: 100%;
    }
  }

  .shop{
    &__inner{
      display: flex;
    }
    &__filters{
      max-width: 270px;
      width: 100%;
      margin-right: 30px;
    }
    &__title{
      font-size: 18px;
      @extend %DMSans-700;
      color: #243f4d;
      margin-bottom: 35px;
      position: relative;
      text-transform: uppercase;
      &::after{
        content: '';
        position: absolute;
        background-image: url('../images/line-title.svg');
        width: 38px;
        height: 2px;
        margin-left: 13px;
        top: 50%;

      }
    }
  }
  .filter__item{
    margin-bottom: 70px;;
  }

  .category__select{
    display: block;
    max-width: 271px;
 
  }

  .jq-selectbox__select {
    height: 43px;
    padding: 0 45px 0 13px;
    border: none;
    background: transparent;
    color: #243f4d;
    text-shadow: none;
    @extend %Rubik-400;
    &:hover{
      background: transparent;
    }
  }

  .jq-selectbox__trigger{
    border-left: none;
  }
  .jq-selectbox__select-text{
    font-size: 16px;
    @extend %Rubik-400;
  }

  .jq-selectbox__trigger-arrow{
    position: absolute;
    top: 10px;
    right: 12px;
    width: 6px;
    height: 10px;
    border: none;
    background-image: url('../images/angle-right.svg');
    background-repeat: no-repeat;
}

.irs--flat .irs-line {
    top: 6px;
    height: 3px;
    background-color: #c2d2db;
    border-radius: 1px;
    cursor: pointer;
}

.irs--flat .irs-handle {
    top: 0px;
    width: 15px;
    height: 15px;
    background-color: #a3bbc8;
    cursor: pointer;
}

.irs--flat .irs-handle>i:first-child{
  display: none;
}

.irs--flat .irs-bar {
    top: 6px;
    height: 4px;
    background-color: #a3bbc8;
    cursor: pointer;
}
.irs{
  
  .irs-from, .irs-to, .irs-single {
   display: none;
  }
  .irs-from::before{
    display: none;
  }
  .irs-to::before{
    display: none;
  }
}

.irs-min{
  display: none;
}

.irs-max{
  display: none;
}

.filter-price{
  margin-bottom: 75px;
}

.filter-price__label{
  display: flex;
  justify-content: space-between;
  
}

.filter-price__from{
  color: #243f4d;
   font-size: 14px;
   @extend %Rubik-400;
   
  
}

.filter-price__to{
  color: #243f4d;
   font-size: 14px;
   @extend %Rubik-400;
 
}

.filter-price__inner{
  color: #243f4d;
   font-size: 14px;
   @extend %Rubik-400;

}

.filter-brand{
  margin-bottom: 65px;
  &__label{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 25px;
    &:last-child{
      margin-bottom: 0px;
    }
  }

  &__form{
    line-height: normal;
    font-size: 16px;
    color: #243f4d;
    @extend %Rubik-400;
    margin: 0 25px 0 15px;
  }
 
  &__input{
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
    &:checked +.filter-brand__checbox{
      color: #243f4d;
    }
  }
  &__checbox{
    margin-left: -10px;
  }
  &__box{
    color: #b3b3b3;
  }
}

.filter-recent{
  &__item{
    display: flex;
    
  }
  &__inner{
    width: 70px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
  }
  &__title{
    margin-bottom: 10px;
    
  
  }
  &__box{
    line-height: 16px;
    font-size: 14px;
    color: #333333;
    @extend %Rubik-400;
    margin-bottom: 25px;
  }
}

.jq-ry-container{
  padding: 0px;
}

.star{
    display: flex;
    margin-bottom: 12px;
  }
  .shop-content{
    padding: 80px 0 108px 20px;
  }
  .shop-content__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .product-list{
    &__item{
      display: flex;
      margin-bottom: 198px;
      &:last-child{
        margin-bottom: 0px;
      }
    }
    &__wrapper{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 115px;
    }
    &__inner{
      margin-right: 84px;
      max-width: 324px;
      width: 100%;
      max-height: 361px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__title{
      line-height: 26px;
      font-size: 40px;
      color: #333333;
      @extend %Rubik-400;
      margin-bottom: 25px;
    }
    &__price{
      line-height: 45px;
      font-size: 30px;
      color: #333333;
      @extend %Rubik-400;
      margin-bottom: 18px;
    }
    &__text{
      line-height: 30px;
      font-size: 16px;
      color: #243f4d;
      @extend %Rubik-400;
      padding-bottom: 35px;
      max-width: 458px;
    }
    &__star{
      margin-bottom: 28px;
    }
    &__btn{
      line-height: 30px;
      font-size: 15px;
      color: #fff;
      @extend %Rubik-400;
      background-color: #a3bbc8;
      border: none;
      border-radius: 5px;
      padding: 11.5px 56px;
      cursor: pointer;
      text-transform: uppercase
    }
    &__link-box{
      display: flex;
    }
    &__link{
      border-radius: 0;
    }
    &__pagination{
      justify-content: flex-start;
    }
  }

  .productdetalis{
    padding-bottom: 140px;
    &-item__inner{
      padding-bottom: 90px;
    }
    &-info__item{
      display: flex;
        line-height: 30px;
        font-size: 16px;
        color: #243f4d;
        @extend %Rubik-400;
        a{
          color: #243f4d;
          line-height: 30px;
          font-size: 16px;
        }
    }
    &-info__text{
      padding-left: 5px;
    }
    &-item{
      &__star{
        margin-bottom: 30px;
      }
      &__inner{
        display: flex;
      }
      &__slide{
        width: 570px;
        margin-right: 30px;
      }
      &__text{
        line-height: 30px;
        font-size: 16px;
        color: #243f4d;
        @extend %Rubik-400;
        margin-bottom: 30px;
      }
    }
    &__item-box{
      margin-bottom: 55px;
    }

    &__num{
      margin-right: 65px;
    }
  } 

  .jq-number__field{
    width: 49px;
    border: 1px solid #a3bbc8;
    border-bottom-color: #a3bbc8;
    border-radius: 0;
    box-shadow: none;
    margin-left: 50px;
    
  }

  .jq-number__field input {
    width: 100%;
    padding: 16.5px 0px;
    border: none;
    outline: none;
    background: none;
    @extend %Rubik-400;
    color: #5c5c5c;
    font-size: 15px;
    text-align: center;
}

  .jq-number {
    padding: 0;
    position: relative;
}

.jq-number__spin {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 32px;
    height: 14px;
    border: 1px solid #a3bbc8;
    border-bottom-color: #a3bbc8;
    border-radius: 0px;
    background: transparent;
    box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
}

.jq-number__spin.minus{
  left: -47px;
  padding: 25px 23px;
  top: 50%;
  margin-left: 50px;
}


.jq-number__spin:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333333;
    width: 6px;
    height: 1px;
    border: none;
   
}


.jq-number__spin.minus:after {
    border: none;
    top: 48%;
    left: 49%;
}

.jq-number__spin.plus{
  padding: 25px 23px;
  right:  -47px;
  padding: 25px 23px;
  top: 50%;

}

.jq-number__spin.plus:after {
    border: none;
    top: 40%;
    left: 42%;
    width: 9px;
    height: 9px;
    background-image: url('../images/icons/plus.svg');
    background-color: transparent;
}

  .jq-selectbox__select-text{
    overflow: visible;
  }


  .productdetalis-item__content{
        padding-top: 55px;
        width: 570px;
      }

  .productdetalis-slide{
    display: flex;
      &__thumb{
        width: 170px;
        margin-right: 30px;
        &-item{
          margin-bottom: 25px;
          margin-top: 25px;
          width: 170px;
          height: 160px;
          cursor: pointer;
          img{
            width: 170px;
            height: 160px;
            object-fit: contain;
          }
         }
      }
      &__big{
        width: 370px;
        display: flex;
        align-items: center;
        img{
          width: 370px;
          height: 405px;
          object-fit: contain;
        }
      }
    }


    .productdetalis-tabs{
      padding-bottom: 122px;
      &__top{
        margin-bottom: 35px;
        text-align: center;
      }
      &__top-item{
        line-height: 40px;
        font-size: 18px;
        color: #243f4d;
        @extend %Rubik-500;
        padding: 15px 70px;
        border-radius: 5px;
        background-color: #fff;
        &--center{
          padding: 15px 35px;
        }
        &--active{
          background-color: #a3bbc8;
          color: #fff;
        }

      }
      &__content-item{
        display: none;
        color: #243f4d;
        line-height: 30px;
        font-size: 16px;
        @extend %Rubik-400;
        &.productdetalis-tabs__content-item--active{
          display: block;
        }
      }

    }


.related{
  
  &__slider{
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
    
  }
  &-products__item{
    margin-bottom: 0px;
  }
}

.slick-btn{
  // border: 2px solid #a3bbc8;
  border-radius: 5px;
  position: absolute;
  top: -86px;
  border: none;
}

.slick-prev{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 50px;
  width: 50px;
  padding: 0;
  right: 70px;
  &:hover{
    border: 2px solid #a3bbc8;
  }
}

.slick-next{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 50px;
  width: 50px;
  padding: 0;
  right: 0;
  &:hover{
      border: 2px solid #a3bbc8;
    }
}

.blog{
  &__aside{
    max-width: 270px;
  }

  &__item{
    margin-bottom: 50px;;
  }
  &__wrapper{
    display: flex;
    justify-content: space-between;
  }
  &__page{
    position: relative;
    margin-bottom: 40px;
  }
  &__info{
    position: absolute;
    background-color: #a3bbc8;
    display: flex;
    bottom: 0;
    left: 0;
    padding: 19px 30px 19px 40px;
    align-items: center;
  }
  &__info-date{
    color: #fff !important; 
    line-height: 30px;
    font-size: 12px !important;
    @extend %Rubik-400;
    margin-right: 40px;
    position: relative;
    &:before{
      position: absolute;
      content: '';
      left: -20px;
      top: 7px;
      background-image: url('../images/icons/calendar.svg');
      width: 12px;
      height: 14px;

    }
  }
  &__info-title-link{
    color: #fff;
    line-height: 30px;
    font-size: 12px;
    @extend %Rubik-400;
    position: relative;
    &:before{
      position: absolute;
      content: '';
      left: -19px;
      top: -1px;
      background-image: url('../images/icons/user.svg');
      width: 12px;
      height: 14px;
    }
  }
  &__title{
    color: #333333;
    line-height: 26px;
    font-size: 36px;
    @extend %Rubik-400;
    margin-bottom: 30px;
  }
  &__text{
    font-size: 16px;
    @extend %Rubik-400;
    color: #243f4d;
    max-width: 800px;
    
  }
  &__link{
    border-color: #a3bbc8;
    border-radius: 0px;
    margin-top: 35px;
    display: inline-block;
    color: #a3bbc8;
  }
   &__link:after{
    content: '';
    position: absolute;
    bottom: 41%;
    right: 19px;
    background-image: url('../images/blog/arrow.svg');
    width: 22px;
    height: 9px;
  } 
  &__pagination{
    padding: 22px 0 197px 0;
    justify-content: start;
  }
  &-search{
    margin-bottom: 65px;
  }
  &-search__input{
   border: none;
   padding: 10px 15px;
   background-color: #fff;
   height: 50px;
   width: 217px;
  }
  &-search__btn{
    border: none;
    background-color: #edf1f4;
    width: 48px;
    height: 42px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
  }
}

.recent-post{
  &__item{
    margin-bottom: 20px;
  }
  &__box{
    margin-left: 18px;
    max-width: 160px;
  }
  &__item{
    display: flex;
    justify-content: space-between;
  }
  &__img{
    width: 70px;
    height: 70px;
  }
  &__text{
    font-size: 14px;
    @extend %Rubik-400;
    color: #333;
    line-height: 20px;
  }
  &__date{
    font-size: 12px;
    @extend %Rubik-400;
    color: #9a9a9a;
    line-height: 30px;
    text-align: center;
    position: relative;
  }
  &__date:before{
    position: absolute;
    content: '';
    background-image: url('../images/icons/calendar-gray.svg');
    width: 12px;
    height: 14px;
    left: 1px;
    top: 7px;
  }
}


.blog-one{
  &__content{
    max-width: 830px;
  }
  &__item{
    margin-bottom: 80px;
    h3{
    color: #333;
    line-height: 26px;
    font-size: 36px;
    @extend %Rubik-400;
    margin-bottom: 18px;
    }
    p{
    font-size: 16px;
    @extend %Rubik-400;
    color: #243f4d;
    line-height: 30px;
    }
    blockquote{
    font-size: 16px;
    @extend %Rubik-500;
    color: #243f4d;
    line-height: 30px;
    margin: 40px 0;
    border-left: 6px solid  #a3bbc8;
    padding: 25px 90px 30px 35px;
    span{
      display: block;
      margin-left: 40px;
      margin-top: 5px;
      position: relative;
    }
    span::before{
      position: absolute;
      content: '';
      background-image: url('../images/blog-one/line.svg');
      width: 20px;
      height: 3px;
      left: -37px;
      top: 15px;
    }
    }
    h4{
    font-size: 18px;
    @extend %Rubik-500;
    color: #243f4d;
    line-height: 30px;
    padding: 20px 0;
    text-align: left;
    
    }
    h5{
    font-size: 16px;
    @extend %Rubik-500;
    color: #243f4d;
    line-height: 30px;
    margin: 13px 0;
    }
  }
  &__left-img{
    float: left;
    margin-right: 30px;   
  }
  &__right-img{
    float: left;
    margin-right: 30px;
  }
  &__title{
    margin-top: 40px;
  }

  &__box{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-top: 2px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;
    margin-bottom: 58px;
    &-info{
      display: flex;
    }
    &-avatar{
      margin-right: 25px;
    }
    &-link-social{
      display: inline-block;
      margin-left: 18px;
      cursor: pointer;
      vertical-align: middle;
    }

    &-name{
      font-size: 18px;
      @extend %Rubik-500;
      color: #333333;
      line-height: 24px;
      margin-top: 15px;
    }
    &-profeccion{
      font-size: 16px;
      @extend %Rubik-500;
      color: #666666;
      line-height: 30px;
    }
    &-item{
      font-size: 16px;
      @extend %Rubik-400;
      color: #333;
      line-height: 26px;
      margin-bottom: 5px;
    }
    &-item:last-child{
     margin-right: 23px;
    }
     &-item:first-child{
     margin-left: 1px;
    }

    &-link{
      font-size: 16px;
      @extend %Rubik-400;
      color: #999999;
      line-height: 26px;
    }
    &-link:first-child{
      margin-left: 25px;
    }

  }
}

.blog-one__comments{
  margin-bottom: 198px;
  &-title{
    font-size: 24px;
    @extend %DMSans-500;
    color: #436372;
    line-height: 36px;
    margin-bottom: 50px;
  }
  &-item{
    display: flex;
    margin-bottom: 30px;
  }
  &-item:nth-child(3){
    padding: 30px 0;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    margin-left: 130px;
  }
  &-item:last-child{
    margin-bottom: 100px;
  }
  &-inner-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -3px;
    margin-bottom: 15px;
  }
  &-avatar{
    margin-right: 30px;
    width: 100px;
    height: 100px;
  }
  &-name{
    font-size: 16px;
    @extend %DMSans-700;
    color: #436372;
    line-height: normal;
  }
  &-text{
    font-size: 16px;
    @extend %Rubik-400;
    color: #565872;
    line-height: 30px;
  }
  &-date{
    font-size: 14px;
    @extend %Rubik-400;
    color: #9e9e9e;
    line-height: normal;
  }
  &-btn{
    color: #526278;
    font-size: 14px;
    @extend %Rubik-400;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: normal;
    position: relative;
    margin-top: 20px;
    &::after{
      position: absolute;
      content: '';
      background-image: url('../images/blog-one/arrow.svg');
      top: 3px;
      right: -15px;
      width: 10px;
      height: 12px;
    }
  }
  &-form-box{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
  }
  &-form-box::before{
    position: absolute;
    content: '';
    top: 25px;
    left: 43%;
    width: 12px;
    height: 14px;
    background-image: url('../images/icons/user2.svg');
    z-index: 100;
  }
   &-form-box::after{
    content: '';
    position: absolute;
    top: 28px;
    right: 20px;
    width: 18px;
    height: 12px;
    background-image: url('../images/icons/mail.svg');
  }
  &-input{
    padding: 17px 45px 17px 20px;
    max-width: 400px;
    width: 100%;
    border: 1px solid #e5e5e5;
    position: relative;
  }
  &-input--active{
    border-color: #436372;
  }
  &-input:first-child{
    margin-right: 20px;
  }
  &-textarea{
    resize: none;
    display: block;
    max-width: 830px;
    width: 100%;
    height: 120px;
    padding: 20px;
    padding-right: 40px;
    border: 1px solid #e5e5e5;
    placeholder{
      color: #999999;
    }
  }
  &-inner-textarea{
    position: relative;
    margin-bottom: 40px;
  }

  &-inner-textarea::after{
    position: absolute;
    content: '';
    width: 17px;
    height: 17px;
    background-image: url('../images/blog-one/message.svg');
    right: 20px;
    top: 20px;
  }
  &-form-btn{
    background-color: #a3bbc8;
    border: none;
    color: #fff;
    font-size: 14px;
    @extend %Rubik-400;
    line-height: 21px;
    width: 190px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
  }
}

.contact{
  margin-bottom: 135px;
  &-content{
    margin-bottom: 120px;
  }
  &-item{
    max-width: 370px;
    width: 100%;
    
  }

  &-item:hover{
    .contact-content__list{
      border-color: #a3bbc8;
    }
    .contact-content__img{
      background-color: #a3bbc8;
      path{
        fill: #fff;
      }
    }
  }
  &-top{
    text-align: center;
  }
  &-top__suptitle{
    color: #a3bbc8;
    font-size: 16px;
    @extend %Rubik-400;
    line-height: 20px;
  }
  &-top__title{
    color: #436372;
    font-size: 35px;
    @extend %DMSans-700;
    line-height: 57px;
    margin-bottom: 65px;
  }

  &-content__title{
    color: #222222;
    font-size: 20px;
    @extend %DMSans-700;
    line-height: 26px;
    margin-bottom: 15px;
  }
  &-content__img{
    margin-bottom: 55px;
    padding: 17px 19px;
    background-color: #fff;
    border-radius: 20px;
  }

  &-content-addres{
    color: #565872;
    font-size: 16px;
    @extend %Rubik-400;
    
  }
  &-content-link{
    color: #565872;
    font-size: 16px;
    @extend %Rubik-400;
    
  }
  &-content{
    display: flex;  
    justify-content: space-around;
  }
  &-content__bottom{
    display: flex;
    justify-content: space-between;
  }
  &-content__list{
    border: 2px solid #fff;
  }
  &-content__btn{
    border-radius: 5px;
  }
}

.contact .contact-content__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 54px;
  }

#map{
  height: 334px;
  max-width: 500px;
  width: 100%;
}


@import 'media';