<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/blog-one.min.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

   {% include 'app/module/_header/_header.html' %}

  <main class="main">

    <section class="top">
      <div class="container">
        <div class="top__inner">
          <h2 class="top__title">Blog Detalis</h2>
          <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">
                  Home
                </a>
              </li>
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">
                  Blog
                </a>
              </li>
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">
                  Blog Detalis
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>


    <section class="blog blog-one">
      <div class="container">
        <div class="blog__wrapper">
          <div class="blog__content blog-one__content">
            <div class="blog__item blog-one__item">
              <div class="blog__page blog-one__page">
                <img class="blog__page-img" src="images/blog/page1.jpg" alt="page img">
                <div class="blog__info">
                  <p class="blog__info-date">28 JANUARY, 2020</p>
                  <div class="blog__info-box">
                    <a class="blog__info-title-link " href="#">BY ADMIN</a>
                  </div>
                </div>
              </div>

              <h3>Fonsectetur adipisicing eiusmod</h3>
              <h5>Sdipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                venia Lorem ipsum
                dolor sit amet, consectetur adipisicing elit,</h5>
              <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur
                adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.</p>
              <blockquote>Sdipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis
                nostrud exercitation ullamco laboris <span>Wiusmod tempor</span></blockquote>
              <img class="blog-one__left-img" src="images/blog-one/1.jpg" alt="blog image">
              <h4>Riusmod tempor incididunt
              </h4>
              <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
              <h4 class="blog-one__title">Kajtsal jervcm eoaspckred </h4>
              <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
            </div>
            <div class="blog-one__box">
              <div class="blog-one__box-info">
                <img class="blog-one__box-avatar" src="images/blog-one/designer.jpg">
                <div class="blog-one__box-inner">
                  <h5 class="blog-one__box-name">Mark N. Hernandez</h5>
                  <p class="blog-one__box-profeccion">Designer</p>
                </div>
              </div>
              <div class="blog-one__box-social">
                <ul class="blog-one__box-list">
                  <li class="blog-one__box-item">
                    Tags:
                    <a class="blog-one__box-link" href="#">All,</a>
                    <a class="blog-one__box-link" href="#">Trending</a>
                  </li>
                  <li class="blog-one__box-item">Share:
                    <a class="blog-one__box-link-social">
                      <img class="blog-one__box-link-img" src="images/blog-one/facebook.svg" alt="img social">
                    </a>
                    <a class="blog-one__box-link-social">
                      <img class="blog-one__box-link-img" src="images/blog-one/twitter.svg" alt="img social">
                    </a>
                    <a class="blog-one__box-link-social">
                      <img class="blog-one__box-link-img" src="images/blog-one/inst.svg" alt="img social">
                    </a>
                    <a class="blog-one__box-link-social">
                      <img class="blog-one__box-link-img" src="images/blog-one/google+.svg" alt="img social">
                    </a>
                  </li>
                </ul>
              </div>
            </div>



            <div class="blog-one__comments">

              <div class="blog-one__comments-top">
                <h3 class="blog-one__comments-title">3 Comments</h3>
                <div class="blog-one__comments-item">
                  <img class="blog-one__comments-avatar" src="images/blog-one/avatar1.jpg" alt="img avatar">
                  <div class="blog-one__comments-inner">
                    <div class="blog-one__comments-inner-top">
                      <h4 class="blog-one__comments-name">Delores G. Roberts</h4>
                      <p class="blog-one__comments-date">Add 11 Oct 2020</p>
                    </div>
                    <p class="blog-one__comments-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                      fringilla massa et tristique convallis. Class aptent
                      taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse orci
                      sem, ultrices</p>
                    <button class="blog-one__comments-btn">Reply</button>
                  </div>
                </div>
                <div class="blog-one__comments-item">
                  <img class="blog-one__comments-avatar" src="images/blog-one/avatar2.jpg" alt="img avatar">
                  <div class="blog-one__comments-inner">
                    <div class="blog-one__comments-inner-top">
                      <h4 class="blog-one__comments-name">Shannon S. Williams</h4>
                      <p class="blog-one__comments-date">Add 11 Oct 2020</p>
                    </div>
                    <p class="blog-one__comments-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                      fringilla massa
                      et tristique convallis. Class aptent
                      taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse orci
                      sem, ultrices</p>
                    <button class="blog-one__comments-btn">Reply</button>
                  </div>
                </div>
                <div class="blog-one__comments-item">
                  <img class="blog-one__comments-avatar" src="images/blog-one/avatar3.jpg" alt="img avatar">
                  <div class="blog-one__comments-inner">
                    <div class="blog-one__comments-inner-top">
                      <h4 class="blog-one__comments-name">Nicholas R. Coley</h4>
                      <p class="blog-one__comments-date">Add 11 Oct 2020</p>
                    </div>
                    <p class="blog-one__comments-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                      fringilla massa
                      et tristique convallis. Class aptent
                      taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse orci
                      sem, ultrices</p>
                    <button class="blog-one__comments-btn">Reply</button>
                  </div>
                </div>
              </div>
              <div class="blog-one__comments-bottom">
                <h3 class="blog-one__comments-title">Leave A Comment</h3>
                <form class="blog-one__comments-form" action="#">
                  <div class="blog-one__comments-form-box">
                    <input type="text" class="blog-one__comments-input " placeholder="Name">
                    <input type="email" class="blog-one__comments-input  blog-one__comments-input--active"
                      placeholder="Email">
                  </div>
                  <div class="blog-one__comments-inner-textarea">
                  <textarea class="blog-one__comments-textarea" placeholder="Comment"></textarea>
                  </div>
                  <button class="blog-one__comments-form-btn">Post Comment</button>
                </form>
              </div>

            </div>






          </div>
          <div class="blog__aside">
            <div class="blog-search">
              <form class="blog-search__form" action="#">
                <input class="blog-search__input" type="text">
                <button class="blog-search__btn" type="submit">
                  <img class="blog-search__img" src="images/icons/search.svg" alt="img search">
                </button>
              </form>
            </div>
            <div class="filter__category filter__item">
              <h4 class="shop__title">CATEGORY</h4>
              <form action="category__form">
                <select class="category__select">
                  <option value="">Chair</option>
                  <option value="">2</option>
                  <option value="">3</option>
                  <option value="">4</option>
                </select>
                <select class="category__select">
                  <option value="">Table</option>
                  <option value="">2</option>
                  <option value="">3</option>
                  <option value="">4</option>
                </select>
                <select class="category__select">
                  <option value="">Lamp</option>
                  <option value="">2</option>
                  <option value="">3</option>
                  <option value="">4</option>
                </select>
                <select class="category__select">
                  <option value="">Watch</option>
                  <option value="">2</option>
                  <option value="">3</option>
                  <option value="">4</option>
                </select>
                <select class="category__select">
                  <option value="">Clock</option>
                  <option value="">2</option>
                  <option value="">3</option>
                  <option value="">4</option>
                </select>
              </form>
            </div>

            <div class="recent-post">
              <h4 class="recent-post__title shop__title">
                Recent Posts
              </h4>
              <div class="recent-post__item">
                <a class="recent-post__img-link" href="#">
                  <img class="recent-post__img" src="images/blog/1.jpg" alt="img post">
                </a>
                <div class="recent-post__box">
                  <a class="recent-post__title-link" href="#">
                    <p class="recent-post__text">
                      Eonsectetur adipisicing elit, sed do eiusmod
                    </p>
                  </a>
                  <div class="recent-post__date">
                    28 JANUARY, 2020
                  </div>
                </div>
              </div>
              <div class="recent-post__item">
                <a class="recent-post__img-link" href="#"><img class="recent-post__img" src="images/blog/2.jpg"
                    alt="img post">
                </a>
                <div class="recent-post__box">
                  <a class="recent-post__title-link" href="#">
                    <p class="recent-post__text">
                      Eonsectetur adipisicing elit, sed do eiusmod
                    </p>
                  </a>
                  <div class="recent-post__date">
                    28 JANUARY, 2020
                  </div>
                </div>
              </div>
              <div class="recent-post__item">
                <a class="recent-post__img-link" href="#"><img class="recent-post__img" src="images/blog/3.jpg"
                    alt="img post">
                </a>
                <div class="recent-post__box">
                  <a class="recent-post__title-link" href="#">
                    <p class="recent-post__text">
                      Eonsectetur adipisicing elit, sed do eiusmod
                    </p>
                  </a>
                  <div class="recent-post__date">
                    28 JANUARY, 2020
                  </div>
                </div>
              </div>
              <div class="recent-post__item">
                <a class="recent-post__img-link" href="#"><img class="recent-post__img" src="images/blog/4.jpg"
                    alt="img post">
                </a>
                <div class="recent-post__box">
                  <a class="recent-post__title-link" href="#">
                    <p class="recent-post__text">
                      Eonsectetur adipisicing elit, sed do eiusmod
                    </p>
                  </a>
                  <div class="recent-post__date">
                    28 JANUARY, 2020
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>




    {% include 'app/module/_partner/_partner.html' %}
  </main>


  {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>