<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/terms&conditions.min.css">
</head>
<body>
  
   {% include 'app/module/_header/_header.html' %}

  <main class="main">

    <section class="top">
      <div class="container">
       <div class="top__inner">
          <h2 class="top__title">Terms & Conditions</h2>
          <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">
                  Home
                </a>
              </li>
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">
                  Terms & Conditions
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="information">
      <div class="container">
        <div class="information-inner">
          <div class="information-box">
            <h3 class="information__title">Types of Personal Information We Collect</h3>
            <ul class="information__list">
              <li class="information__item">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore</li>
              <li class="information__item">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore</li>
              <li class="information__item">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
              <li class="information__item">Dagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.</li>
              <li class="information__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
            </ul>
          </div>
          <div class="information-box">
            <h3 class="information__title">How marketpmss.com Collects Personal Infonnation</h3>
            <p class="information__text">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore</p>
          </div>
          <div class="information-box">
            <h3 class="information__title">How marketpmss.com Collects Personal Infonnation</h3>
            <p class="information__text">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore</p>
          </div>
        </div>
      </div>
    </section>



    <section class="articles">
      <div class="container">
        <div class="articles-top">
          <div class="articles-top__title">
            <h1 class="title title-color">Our Insights & Articles</h1>
            <a class="articles-top__link title-color" href="#">View All</a>
          </div>
          <div class="articles-top__cards">
            <div class="articles-top__card articles-top__card--news">
              <a href="" class="articles-top__card--link">
                <img class="articles-top__img" src="images/articles/article1.jpg" alt="article img">
                <p class="articles-top__text">Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                  minim veniam</p>
              </a>
              <div class="articles-top__info">
                <p class="articles-top__date"> 28 JANUARY, 2020</p>
                <a href="#" class="articles-top__author"> BY ADMIN</a>
              </div>
            </div>
            <div class="articles-top__card articles-top__card--news">
              <a href="" class="articles-top__card--link">
                <img class="articles-top__img" src="images/articles/article2.jpg" alt="article img">
                <p class="articles-top__text">Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore
                  minim veniam</p>
              </a>
              <div class="articles-top__info">
                <p class="articles-top__date"> 28 JANUARY, 2020</p>
                <a href="#" class="articles-top__author"> BY ADMIN</a>
              </div>
            </div>
            <div class="articles-top__card articles-top__card--news">
              <a href="" class="articles-top__card--link">
                <img class="articles-top__img" src="images/articles/article3.jpg" alt="article img">
                <p class="articles-top__text">Rncididunt ut labore et dolore magna aliqua. Ut enim
                  minim veniam</p>
              </a>
              <div class="articles-top__info">
                <p class="articles-top__date"> 28 JANUARY, 2020</p>
                <a href="#" class="articles-top__author"> BY ADMIN</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% include 'app/module/_partner/_partner.html' %}
  </main>


  {% include 'app/module/_footer/_footer.html' %}
  
<script src="js/main.min.js"></script>
</body>
</html>
