.articles{

  &-top__title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &-top__link{
    font-size: 16px;
    @extend %DMSans-700;
    color: #262626;
    padding-right: 20px;
    position: relative;
  }
  &-top__link:after{
    content: '';
    position: absolute;
    background-image: url('../images/icons/minarrow.svg');
    width: 6px;
    height: 11px;
    right: 0;
    bottom: 63%;
  }
  &-top__cards{
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
    
  }
  &-top__card{
    position: relative;
  }
  &-top__card--news::before{
    content: 'news';
    padding: 8px 35px;
    color: #fff;
    background-color: #a3bbc8;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 50px;
    @extend %DMSans-700;
    position: absolute;
    top: 231px;
    left: 26px;
  }
  &-top__img{
    width: 370px;
    height: 250px;
    margin-bottom: 36px;
  }
  &-top__text{
    max-width: 300px;
    margin: 0 auto 30px;
    @extend %DMSans-500;
    color: #262626;
    font-size: 18px;
  }
  &-top__date{
    padding-left: 31px;
    margin-right: 20px;
     @extend %Rubik-400;
    color: #222933;
    font-size: 12px;
    line-height: 30px;
  }
  &-top__info{
    display: flex;
  }
  &-top__author{
     @extend %Rubik-400;
    color: #222933;
    font-size: 12px;
    line-height: 30px;
  } 
}

@media (max-width: 1200px){
  .articles-top__cards{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  .articles-top__text{
    margin: 0 auto 15px;
  }
}

@media (max-width: 920px){
    .articles-top__cards{
    grid-template-columns: repeat(2, 1fr);
  }

  .articles-top__card{
    max-width: 100%;
  }
  .articles-top__img{
    width: 100%;
  }
}

@media (max-width: 620px){
  .articles-top__cards{
    grid-template-columns: repeat(1, 1fr);
  }

  .articles-top__title{
    align-items: center;
  }
  .articles-top__link{
    line-height: normal;
    padding-bottom: 21px;
    margin-left: 5px;
  }
  .articles-top__text{
    max-width: 620px;
  }
}

@media (max-width: 560px){
  .articles-top__title{
    flex-wrap: wrap;
  }
  .articles-top__cards{
    margin-bottom: 70px;
  }
}